<div class = "flex-container">
  <div class="flex-item">
  <h1 class="filterLabel">Party</h1>
  <form name="myForm">
      <input type="checkbox" (click) = "filterCheck('party', 'Democrat')">
      <label>Democrat
    </label><br/>
      <input type="checkbox" (click) = "filterCheck('party', 'Republican')">
        <label>Republican
    </label><br/>
      <input type="checkbox" (click) = "filterCheck('party', 'Independent')">
      <label>Independent
    </label><br/>
  </form>
  </div>


  <div class="flex-item">
  <h1 class="filterLabel">Chamber</h1>
  <form name="myForm">
      <input type="checkbox">
      <label>House
    </label><br/>
      <input type="checkbox">
        <label>Senate
    </label><br/>


  </form>
  </div>

</div>
