.flex-container{
display: flex;
flex-direction: column;
border: 1px solid rgba(0,0,0,.1);
}

.flex-item{
  width: 20vw;
  border-bottom: 1px solid rgba(0,0,0,.1);
  @media (max-width: 800px) {
  width: 80vw;
  margin:0 auto;
  }
}


.ToggleBox{
  border: 2px black solid;

  text-align: center;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;

}

.ToggleBoxChecked{
  background-color: black;
    color:white;
}
