  <section class="flex-container">
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>
<app-congress-card appMouseoverCongressCard></app-congress-card>


</section>
